@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
 
}
@font-face{
  font-family: Anime ;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./fonts/animeace2_reg.ttf") format("ttf"),
        url("./fonts/animeace2_reg.otf") format("otf");
}
@theme {
    --font-anime:Anime;
}




@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
